* {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;

}

body {
    background: rgb(55, 71, 79);
}

ul {
    list-style: none;
    padding: 16px;
    font-size: 25px;

}

a,

a:active,
a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #f3db21;
}
#editor {
    position: absolute;
    top: 500px;
    right: 0;
    bottom: 0;
    left: 0;
}